.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-2-transparency);
    padding: 1rem 6rem;
    gap: 1rem;
}

.cardsContainer {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

@media only screen and (max-width: 769px) {
    .cardsContainer {
        padding: 1rem 0;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 624px) {
    .cardsContainer {
        padding: 1rem 0;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}

  