.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 370px;
  height: 491px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 2rem;
}

.cardImg {
  width: 393px;
  height: 231px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 1rem 1rem 1rem;
}

.iconCard {
  font-size: 0.9em;
  color: var(--color-2);
}

.location {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-2);
}

.enlace {
  font-size: 13px;
  color: var(--color-principal);
}

.title > h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-2);
  margin: 0;
}

.title > h5 {
  font-size: 15px;
  color: var(--color-2);
  opacity: 0.5;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-2);
}

@media screen and (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
    align-items: center;
    width: 710px;
    height: 279px;
    gap: 0;
  }

  .cardImg {
    width: 344.11px;
    height: 303.8px;
  }

  .textContainer {
    padding: 0 1rem;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1350px) {
  .cardContainer {
    width: 635px;
    height: 283px;
  }

  .cardImg {
    width: 311.1px;
    height: 330.99px;
  }

  .textContainer {
    padding: 1rem;
    gap: 1rem;
  }
}
