.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-2-transparency);
  gap: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.container h2 {
  padding: 2rem 0 0 1rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.clearFilterDelete {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--color-2);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  margin-left: 3rem;
}

.iconClear {
  padding: 0 0.5rem 0 0;
}

.filterContainer {
  display: flex;
  padding: 0 3rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.filterItem {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--color-2);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconDelete {
  cursor: pointer;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .container h2 {
    padding: 2rem 0 0 3rem;
  }
}

@media screen and (min-width: 1350px) {
  .cardsContainer {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1410px) {
  .cardsContainer {
    margin: 0 auto;
  }
}
