.container {
    padding: 3rem 0.8rem;  
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.title {
    color: var(--color-2);
    font-size: 20pt;
    padding-top: 2.5rem;
}

.description {
    color: rgb(79, 79, 80);
    font-weight: 500;
    font-size: 12pt;
}

@media only screen and (min-width: 624px) {  
    .container {
        padding: 3rem 1.5rem;
    }    
}
  
@media only screen and (min-width: 769px) {
    .container {
        padding: 3rem 2rem;
    }    
}
  