.container {
    background-color: var(--color-3);
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    align-items: center;
    color: white;
}

.titleCategory {
    display: flex;
    flex-direction: column;
}

.arrowBackHome {
    width: 55%;
}

.category {
    font-weight: 200;
    letter-spacing: 0.2em;
    padding-left: 0.1rem;
    font-size: 12pt;
}

.title {
    font-weight: 700;
    font-size: 20pt;
} 

@media only screen and (min-width: 624px) {  
    .container {
        padding: 0.3rem 1.5rem;
    }    
}
  
@media only screen and (min-width: 769px) {
    .container {
        padding: 0.3rem 2rem;
    }    
}
  
