.divInputs {
  width: 80%;
  max-width: 346px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.groupForm {
  padding-top: 5px;
}

.groupForm:last-child {
  margin-top: 35px;
  text-align: center;
}

.spanForm > a {
  color: #fbc02d;
}

.divInputs input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 991px) {
  .divInputs {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 448px;
  }

  .groupForm {
    width: 100%;
  }
  .groupWrap {
    width: 48%;
  }
}
