.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 10rem;
    height: 100vh;
    margin: 0 auto;
}

.backHome {
    background-color: var(--color-2);
    color: white;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.iconExclamation {
    font-size: 4em;
    color: var(--color-principal);
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-top: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 100%;
}

.containerItem {
  display: flex;
  padding: 1rem;
}

@media screen and (min-width: 1350px) {
  .itemContainer {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    min-height: 700px;
  }
}
