.calendarWrap .inputBox {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: gray;
    position: relative;
  }
  
  .calendarElement {
    position: absolute;
    top: 40px;
    left: 3rem;
  }

  .datePicker{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    /* height: 40px;
    width: 27.47vw; */
    background-color: #FFFFFF;
    border-radius: 7px;
    position: relative;
  }

  input:focus {
    outline: none;
  }
