.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.bookingTemplate {
  background-color: #f2f2f2;
}

.divInputs {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  margin: 10px auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  color: var(--color-2);
  display: flex;
  flex-direction: column;
}

.calendarContainer {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  margin: 10px auto;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.pFormError {
  font-size: 0.65rem;
  text-align: center;
  color: red;
  margin-bottom: 10px;
  padding:0;
}

.groupForm {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10px auto;
  gap: 5px;
}

.groupForm > input {
  border: none;
  background-color: #f2f2f2;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 600;
}

.groupForm:last-child > input {
  background-color: white;
}

.detail {
  padding-bottom: 35px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea {
  font-family: inherit;
  resize: none;
  outline: none; 
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  font-size: 14px;
}

.radioButton {
  accent-color: var(--color-2);
}

.vacunado {
  gap: 1rem;
}

.scheduleOptions {
  width: 280px;
  padding: 0.5rem;
}

.scheduleTitle {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 500;
  color: var(--color-2);
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.iconCheck {
  font-size: 1.5em;
  color: var(--color-2);
}



@media only screen and (min-width: 624px) {
  .content {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
  }

  .divInputs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .groupForm {
    width: 45%;
  }

  .calendar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pFormError {    
    text-align: right;   
    padding:0 25px 0 0;
  }
  
}

@media only screen and (min-width: 1120px) {
  .content {
    flex-direction: row;
    gap: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    gap: 20px;
  }
}

@media only screen and (min-width: 1300px) {
  .content {
    justify-content: center;
    gap: 80px;
    padding: 4rem 0;    
  }

  .contentLeft {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    gap: 0.5rem;
  }

  .contentRight {
    margin-top: 37px;
  }
  .divInputs {
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .calendarContainer {
    width: 100%;
    margin: 0 auto 15px auto;
  }

  .groupForm {
    width: 45%;
  }

}
